body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.ring {
  text-align: center;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: crcle 2s linear infinite;
}
@keyframes crcle {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  33% {
    transform: rotate(90deg);
    box-shadow: 1px 5px 2px red;
  }
  66% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px yellow;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px blue;
  }
}

span {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.4;
  animation: pulse 3s ease-in-out infinite;
}
@keyframes pulse {
  50% {
    color: black;
  }
}
