* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #333;
}

.crcle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  animation: loading 3s linear infinite;
}
span {
  position: absolute;
  text-align: center;
  line-height: 1.4;
  font-size: 4rem;
  color: #f4f4f4;
  animation: pulse 5s ease-in-out infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 10px 10px 10px yellow;
  }
  33.33% {
    transform: rotate(90deg);
    box-shadow: 10px 10px 10px coral;
  }
  66.66% {
    transform: rotate(180deg);
    box-shadow: 10px 10px 10px rgb(246, 72, 72);
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 10px 10px 10px rgb(252, 136, 136);
  }
}

@keyframes pulse {
  50% {
    color: #333;
  }
}
